* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.login {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  color: white;
}
.titulo {
  color: black;
  display: flex;
  justify-content: center;
}
.titulo span {
  color: rgb(255, 255, 2);
}
.celu {
  width: 80%;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .celu {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .celu {
    width: 40%;
  }
}
/* navbar */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");
:root {
  --color-primario: #7952b3;
  --color-secundario: #5e3f8e;
  --primer-fuente: "Open Sans", sans-serif;
  --color-prueba1: #192338;
  --color-prueba2: #1e2e4f;
  --color-prueba3: #31487a;
  --color-prueba4: #8fb3e2;
  --color-prueba5: #d9e1f1;
  --fuente-texto-descrip: "Permanent Marker", cursive;
}
.barra-item {
  font-family: "Open Sans", sans-serif;
}
.fondo-barra {
  background-color: var(--color-prueba1);
}

/* fondo de la pag */
body {
  background-color: var(--color-prueba3);
}
.logo {
  display: flex;
  justify-content: center;
}
header {
  background-color: var(--color-prueba1);
}
