@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");
:root {
  --color-primario: #7952b3;
  --primer-fuente: "Open Sans", sans-serif;
  --fuente-texto-descrip: "Permanent Marker", cursive;
}
.barra-item {
  font-family: "Open Sans", sans-serif;
}
.fondo-barra {
  background-color: var(--color-primario);
}
.fondo-logo {
  width: 70px;
  height: 60px;
  object-fit: cover;
  /* border: 2px solid green; */
}
.logo-compras {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.color-fondo-contactos {
  background-color: var(--color-primario);
}

.lau {
  display: flex;
  justify-content: center;
  border: 4px solid mediumslateblue;
}

/* SECCION DESCUENTOS */
.titulos-descuentos {
  color: white;
  text-align: center;
  margin: 10px;
  /* border: 2px solid black; */
  border-radius: 25px 10px;
  background-color: blue;
  box-shadow: 2px 2px 2px 2px black;
  width: 95%;
  margin: 15px auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.precio-detalle {
  text-decoration: line-through;
}
.texto-titulo-descrip {
  font-family: var(--fuente-texto-descrip);
  font-weight: 400;
  font-style: normal;
}
.cont-card-desc {
  /* border: 2px solid black; */
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 100%; */
}
.hijo-card-desc {
  /* border: 2px solid red; */
  height: 550px;
}
.cont-cardbody {
  height: 45%;
  /* border: 2px solid blue; */
}
.card-body {
  /* border: 2px solid green; */
  height: 100%;
  padding: 3px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cont-img-descuentos {
  /* border: 2px solid yellow; */
  height: 55%;
  .item-img-desc {
    height: 100%;
    width: 100%;
  }
}

/* MEDIAQUERIES */
@media (min-width: 768px) {
  .cont-card-desc {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hijo-card-desc {
    height: 300px;
  }
  .cont-img-descuentos {
    height: 100%;
  }
  .cont-cardbody {
    height: 100%;
  }
  .card-body {
    padding: 8px;
    justify-content: space-between;
  }
  .texto-titulo-descrip {
    font-family: var(--fuente-texto-descrip);
    font-size: 1.5em;
  }
  .card-text {
    font-size: 1.3em;
  }
  .titulos-descuentos {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .cont-card-desc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .hijo-card-desc {
    height: 400px;
    width: 49.5%;
  }
  .cont-img-descuentos {
    height: 100%;
    .item-img-desc {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .titulos-descuentos {
    width: 70%;
  }
}
